.form-inline {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.form-inline input,select {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff !important;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80% !important;
  align-items: center;
  justify-content: center;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #e8491d;
  border: 1px solid #e8491d;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: #fff;
  color: #e8491d;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
}
